<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ajax Basic</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h3>ajax step3 : fetch</h3>
	<div class="container mt-5">
		<form>
			<input type="text" id="userId" required="required"
				placeholder="고객아이디">
			<button type="button" onclick="startAjax()">Ajax 테스트</button>			
		<br>
		<br>
		<textarea rows="10" cols="50" placeholder="본문내용"></textarea>
		</form>
		<br><br>
		<!--/*    ajax 응답결과를 아래 div 에 보여줄 예정  */-->
			<div id="resultDiv"></div>
		<!--/*   Ajax(Javascript)    */-->
	</div>
	<script type="text/javascript" src="/js/ajax-study3-fetch-version.js"></script>
</body>
</html>